/* Repeat */
body {
    background-color: #ffffff;
}

.lock {
    overflow: hidden;
}

.container {
    max-width: 1150px;
    height: 100%;
    margin: 0 auto;
    // background-color: aqua;
}

.heading {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 68px;
    line-height: 72px;
}

.paragraph {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 225px;
    height: 54px;

    background-color: transparent;
    border: 2px solid $primary;
    border-radius: 100px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: $primary;

    &:hover{
        border: 2px solid $secondary;
        border-radius: 100px; 
        color: $secondary;
        transition: 0.5s;
    }

    &:not(:hover) {
        transition: 0.5s;
    }
}
/* --- */