$primary: rgba(11, 65, 65, 1);
$secondary: rgba(255, 204, 188, 1);

@import "nullstyle.scss";
@import "repeatstyle.scss";

.header {
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.7);
    // position: fixed;
    &-body {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        &__nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            &_logo {
                h2{
                    font-family: 'Motter Corpus Std', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 26px;
                    line-height: 31px;
                    color: $primary;
                }
            }
            &_burger{
                display: none;
            }
            &_menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 380px;
                height: 100%;
                ul {
                    display: flex;
                    justify-content: space-between;
                    width: 170px;
                    li {
                        position: relative;
                        &::before,
                        &::after{
                            content: " ";
                            position: absolute;
                            display: block;
                            width: 0;
                            height: 2px;
                            background-color: $primary;
                            transition: 0.5s;
                            bottom: 0;
                        }
                        &::before {
                            right: 50%;
                        }
                        &::after {
                            left: 50%;
                        }

                        &:hover::before,
                        &:hover::after {
                            width: 50%;
                        }
                        a {
                            font-family: 'Nunito Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 22px;
                            color: $primary;
                        }
                    }
                }
            }
                button {
                    width: 160px;
                    height: 45px;
                    background-color: $primary;
                    border-radius: 124px;

                    font-family: 'Nunito Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    color: $secondary;

                    &:hover{
                        background-color: transparent;
                        color: $primary;
                        border: 2px solid $primary;
                        transition: 0.5s;
                    }
                    &:not(:hover) {
                        transition: 0.5s;
                    }
                }
        }
    }
}

.concept {
    overflow: hidden;
    background: url('../image/confettis.png') 0 0/contain fixed;
    &-body{
        position: relative;
        &__section {
            height: 1000px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            h2 {
                span {
                    transition: 0.9s;
                }
                font-family: 'Motter Corpus Std';
                font-style: normal;
                font-weight: 400;
                font-size: 120px;
                line-height: 128px;
                &:first-child {
                    margin-top: 120px;
                    color: $secondary;
                }
                &:last-child {
                    top: 30px;
                    position: relative;
                    z-index: 2;
                    background: linear-gradient(180deg, #0B4141 45.83%, #0B1F1F 45.84%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    transition: 0.3s;
                }
            }
            &_bg {
                position: absolute;
                top: 0;
                left: 0;
                background: url('../image/Yourproduct.png') 50% 370px no-repeat fixed;
                width: 100%;
                height: 100%;
                z-index: 1; 
            }
        }
    }
}

.toward {
    background: rgba(255, 204, 188, 1) url('../image/CorneliaConfettis.png') fixed;
    height: 100vh;
    &-body {
        height: 100%;
        &__section {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2 {
                font-family: 'Motter Corpus Std';
                font-style: normal;
                font-weight: 400;
                font-size: 80px;
                line-height: 96px;
                text-align: center;
                color: #FFFFFF;
            }
            p {
                padding-top: 24px;
                max-width: 740px;
                font-family: 'Nunito Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 32px;
                /* or 133% */

                text-align: center;

                /* White */

                color: #FFFFFF;
            }
        }
    }
}

.learn {
    width: 100%;
    height: 100vh;
    background: $primary fixed;
    color: $secondary;

    &-body {
        width: 100%;
        height: 100%;

        &__section {
            display: flex;
            position: relative;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            width: 100%;
            height: 100%;

            &_left {
                p {
                    padding-top: 32px;
                    max-width: 475px;
                }
                button {
                    margin-top: 48px;

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    width: 290px;
                    height: 55px;
                    
                    border: 2px solid $secondary;
                    background: transparent;
                    border-radius: 100px;

                    font-family: 'Nunito Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 25px;
                    color: $secondary;
                    &:hover {
                        background-color: $secondary;
                        color: $primary;
                        transition: 0.5s;
                    }
                    &:not(:hover) {
                        transition: 0.5s;
                    }
                }
            }
            &_right{
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.scroll {
    color: $primary;
    &-sectionOne {
        &__body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            margin-top: 95px;

            &_left{
            }
            &_right{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                width: 50%;
                height: 100%;
        
                p {
                    padding-top: 30px;
                    max-width: 460px;   
                }
                ul {
                    padding-top: 50px;
                    display: flex;
                    align-items: center;
                    &:hover {
                        li {
                            &:first-child {
                                img {
                                    width: 16px;
                                    height: 24px;
                                    transition: 0.5s;
                                }
                            }
                            &:last-child {
                                position: relative;
                                left: 16px;
                                transition: 0.6s;
                            }
                        }
                    }

                    &:not(:hover) {
                        li {
                            &:first-child {
                                img {
                                    transition: 0.5s;
                                }
                            }
                            &:last-child {
                                transition: 0.6s;
                            }
                        }
                    }
                    
                    li {
                        font-family: 'Nunito Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 22px;
                        text-transform: uppercase;
                        
                        &:first-child {
                            img {
                                width: 0;
                            }
                        }
                    }
                }
            }
        } 
    }
    &-sectionTwo {
        &__body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            margin-top: 10vh;
            
            &_left {
                p {
                    padding-top: 32px;
                    max-width: 465px;
                }
            }
        }
    }
}

.magic {
    width: 100%;
    height: 100vh;
    background: rgba(245, 245, 245, 0.6);

    &-body {
        width: 100%;
        height: 100%;
        &__section {
            width: 100%;
            height: 100%;
            padding-top: 117px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            &_first {
                h2 {
                    font-family: 'Motter Corpus Std';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 80px;
                    line-height: 96px;
                    color: $secondary;
                }

                p{
                    padding-top: 24px;
                    max-width: 890px;
                    color: #0B4141;
                }

                span {
                    font-weight: 700;
                }
            }
            &_second {
                width: 100%;
                height: 100%;

                background: url('../image/magicBG.png') bottom center/contain no-repeat;
            }
        }
    }
}

.why {
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #FFCCBC 0%, rgba(255, 204, 188, 0) 100%), url('../image/whyBG.png') 0 0/cover no-repeat fixed;
    mix-blend-mode: normal;

    &__section {
        text-align: center;
        padding-top: 60px;
        color: white;
    }

    &-flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 64px;

        button {
            display: none;
        }

        &__section {
            border-color: white;
            
            &_item {
                margin-left: 24px;
                margin-top: 24px;
                margin-bottom: 24px;
                padding: 20px;
                background: rgba(255, 255, 255, 0.8);
                backdrop-filter: blur(12px);
                border-radius: 8px;

                &:hover {
                    -webkit-box-shadow: 5px 5px 12px -5px rgba(128, 128, 128, 0.4);
                    -moz-box-shadow: 5px 5px 12px -5px rgba(128, 128, 128, 0.4);
                    box-shadow: 5px 5px 12px -5px rgba(128, 128, 128, 0.4);
                    transition: 0.5s;
                }

                &:not(:hover) {
                    transition: 0.5s;
                }

                p {
                    width: 264px;

                    font-family: 'Nunito Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 18px;
                    color: $primary
                }

                div {
                    padding-top: 16px;
                    
                    display: flex;
                    align-items: center;

                    ul {
                        li {
                            padding-left: 12px;
                            font-family: 'Roboto', sans-serif;
                            font-style: normal;
                            line-height: 19px;

                            color: $primary;
                            &:first-child {
                                font-size: 16px;
                                font-weight: 700;
                            }
                            &:last-child {
                                font-size: 14px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
}

.discover {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    background: url('../image/confettis.png') 0 0/cover no-repeat fixed;

    color: $primary;

    &__section {
        width: 100%;
        height: 100%;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        &_left {
            img {
                width: 100%;
                height: 100%;
            }
        }
        
        &_right {
            p {
                padding-top: 32px;
                max-width: 506px;
            }
            
            button {
                margin-top: 45px;
            }
        }
    }
}

.exist {
    padding-top: 96px;
    width: 100%;
    height: 100vh;
    background: white url('../image/Light.png') bottom right/cover no-repeat fixed;

    color: $primary;
    &__section {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        &_right {
            span {
                display: flex;
                justify-content: center;
            }
            h2 {
                padding-top: 32px
            }
            p {
                padding-top: 32px;

                max-width: 472px;
            }
            button {
                margin-top: 46px;
            }
        }
    }
}

.footer {
    width: 100%;
    height: 100vh;

    background: $primary fixed;
    color: $secondary;

    &__section {
        position: relative;

        width: 100%;
        height: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-family: 'Motter Corpus Std';
            font-style: normal;
            font-weight: 400;
        }
        &_up {
            text-align: center;
            h2 {
                font-size: 80px;
                line-height: 96px;
            }
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 264px;
                    height: 72px;
                    margin-top: 48px;
                    margin-right: 48px;

                    background: transparent;
                    border: 2px solid $secondary;
                    border-radius: 300px;
                    
                    font-family: 'Nunito Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    color: $secondary;

                    img {
                        padding-right: 12px;
                    }

                    &:hover {
                        color: white;
                        border: 2px solid white;
                        transition: 0.5s;
                    }

                    &:not(:hover) {
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}

@import "mediastyle.scss";